
/****** PARALLAX VIDEO ******/
/****** DISPLAYS VIDEO IN BACKGROUND ******/
/**
 * Custom Resets
 */
body,
video,
header,
main,
h2,
h4,
p {
    margin:0;
    padding:0;
}
/* Set a large height to see parallax effect */
main {
    display: block;
    height: 700px;
}
/* Prevent video jerky resize on load, reset defaults */
video {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: baseline;
}
.video-wrap {
    height: 100%;
    width: 100%;
}

/* Examples */
.content-overlay {
    position: relative;
    z-index: 20;
    padding: 15%;
    alignment: center;
}
.content-overlay h2, h4,
.content-overlay p {
    color: #fff;
}
.text-overlay-example .video-wrap::before,
.with-header-example .video-wrap::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
header {
    height: 100px;
    background-color: #ddd;
}
.outer-wrap {
    height: 500px;
}

#header-title{
   position: relative;
    top: 50%;
    left: 50%;

}

#subtitle{
    color: #ffffff;
}

.section-title .separator { padding: 16px 0;  }


.container {

    margin: 0 auto;
    padding: 0px;
    width:100%;
}

.seperator.size-small span { width: 100px; }

.text-light .subtitle { opacity: 0.9; filter: alpha(opacity=90);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; }

.see-video {
    top:10px;
    left:0;
    opacity: 1;
    height: 100%;
    max-height: 100%;
    color: #FFFFFF;
}

.vid {
    color: blue;
    width: 50%;
    margin: 0 auto;
    top:0;
    left:0;
    opacity:1;
    height:100%;
    max-height:100%;
    -webkit-transform: scale(1.0);
}


/**************/

.video-section .pattern-overlay {
    background-color: rgba(71, 71, 71, 0.59);
    padding: 110px 0 32px;
    min-height: 496px;
    /* Incase of overlay problems just increase the min-height*/
}
.video-section h1, .video-section h3{
    text-align:center;
    color:#fff;
}
.video-section h1{
    font-size:110px;
    font-family: 'Buenard', serif;
    font-weight:bold;
    text-transform: uppercase;
    margin: 40px auto 0px;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
    font-size: 25px;
    font-weight:lighter;
    margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}


/***** MODAL PROPERTIES *****/
.modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    background:transparent;
    border:none;
    outline:none;
}
.modal-content iframe {
    border:none;
    padding:0;
    margin:0;
}
.close {
    font-size: 80px;
    margin:-20px 0 0 0;
}
/***** MEDIA QUERIES *****/
@media only screen and (max-width: 641px) {
    /***** MODAL PROPERTIES *****/
    .modal-body {
        height:100px;
        padding:0;
        margin: 0;
    }
    .modal-content {
        padding:0;
        margin: 0;
    }
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 15px;
    }
    .close {
        margin:-12px 0 0 0;
    }
}
@media only screen and (min-width: 768px) {
    /***** MODAL PROPERTIES *****/
    .close {
        font-size: 80px;
        margin:30px -43px -20px 100px;
    }
}


.sr-animation.animated {
    top: 0;
    left: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    height: 100%;
    max-height: 100%;
    transform: scale(1.0);
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
}

.text-light a.sr-buttonicon  {
    border-color: #ffffff;
    color: #ffffff;
}
.text-light a.sr-buttonicon:hover { background: #ffffff; color: #262626; }

.loader-icon {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('spin.gif') 50% 50% no-repeat rgb(249,249,249);
}


